.loader {
  text-align: center; }

#loader {
  width: 40px;
  height: 40px;
  margin: 300px auto;
  margin-bottom: 10px;
  background-color: #2BD7F2;
  display: block;
  border-radius: 100%;
  -webkit-animation: blink 1.2s infinite ease-in-out;
  animation: blink 1.2s infinite ease-in-out; }

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(0); }
  33% {
    background-color: #FFEA32; }
  66% {
    background-color: #F282DA; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes blink {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  33% {
    background-color: #FFEA32; }
  66% {
    background-color: #F282DA; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
#loading-text {
  -webkit-animation: three-dots 6s infinite ease-in-out;
  animation: three-dots 6s infinite ease-in-out; }

@-webkit-keyframes three-dots {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes three-dots {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
* {
  box-sizing: border-box; }

body {
  opacity: 1;
  transition: 1.3s opacity; }
  body.fade {
    opacity: 0;
    transition: none; }

body, section {
  overflow: auto;
  margin: 0; }

section {
  min-height: 100vh; }

h1 {
  margin: 0;
  font-family: "Arimo", sans-serif; }

p, span, summary {
  font-family: "Karla", sans-serif; }

a {
  color: #0A0A0A;
  text-decoration: none; }

nav {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0; }
  nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }

.bw-hover {
  position: fixed;
  font-family: "Karla", sans-serif;
  bottom: 0;
  right: 0;
  content: " ";
  width: 150px;
  height: 100px;
  padding-top: 30px;
  border-top-left-radius: 10%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .bw-hover:hover {
    opacity: 1;
    text-align: center;
    background-color: #0A0A0A;
    color: #FFFFFF;
    width: 140px;
    height: 70px;
    border-top-left-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out, text-align, padding-top;
    -moz-transition: all 0.5s ease-in-out, text-align, padding-top;
    transition: all 0.5s ease-in-out, text-align, padding-top; }
    .bw-hover:hover::after {
      content: "back to top"; }

.shape-wrap {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 200px;
  margin-left: -100px; }

.hex-wrap {
  position: absolute;
  top: 60%; }

.hexagon {
  width: 150px;
  height: 82px;
  line-height: 50px;
  background: #F282DA;
  position: relative;
  z-index: 200; }
  .hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent; }
  .hexagon:before {
    top: -45%;
    border-bottom: 37px solid #F282DA; }
  .hexagon:after {
    bottom: -45%;
    border-top: 37px solid #F282DA; }

.hexagon.inner {
  background-color: #FFFFFF;
  -webkit-animation: inner-tilt 3.2s infinite;
  animation: inner-tilt 3.2 0.4s infinite; }
  .hexagon.inner:before {
    border-bottom: 37px solid #FFFFFF; }
  .hexagon.inner:after {
    border-top: 37px dashed #FFFFFF; }

@-webkit-keyframes inner-tilt {
  0% {
    transform: rotate(0deg) scale(0.6, 0.6); }
  90% {
    transform: rotate(0deg) scale(0.6, 0.6); }
  100% {
    transform: rotate(-20deg) scale(0.6, 0.6); } }
@keyframes inner-tilt {
  0% {
    transform: rotate(0deg) scale(0.6, 0.6); }
  90% {
    transform: rotate(0deg) scale(0.6, 0.6); }
  100% {
    transform: rotate(-20deg) scale(0.6, 0.6); } }
#rectangle {
  width: 30px;
  height: 150px;
  background: #2BD7F2;
  border-radius: 12px 12px 0 0;
  position: relative;
  z-index: 100;
  -webkit-animation: piledriver 4.4s infinite;
  animation: piledriver 3.2s infinite; }

@-webkit-keyframes piledriver {
  0% {
    transform: translateY(10%); }
  1% {
    transform: translateY(5%); }
  100% {
    transform: translateY(-25%); } }
@keyframes piledriver {
  0% {
    transform: translateY(10%); }
  1% {
    transform: translateY(5%); }
  90% {
    transform: translateY(-25%); }
  100% {
    transform: translateY(10%); } }
#triangle {
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-right: 100px solid #FFEA32;
  position: absolute;
  top: 51%;
  right: 12%;
  z-index: 300;
  animation: flash 9.6s infinite; }

@keyframes flash {
  0% {
    opacity: 0.8; }
  30% {
    transform: rotate(0deg); }
  32% {
    transform: rotate(-20deg);
    transform-origin: left; }
  34% {
    transform: rotate(0deg); }
  99% {
    opacity: 0;
    transform: rotate(0deg); }
  100% {
    opacity: 0.8;
    border-right: 100px solid #FFEA32;
    transform: rotate(-20deg); } }
#about {
  background: #0A0A0A; }

#about * {
  color: #FFFFFF; }

.container {
  margin: 60px auto;
  width: 600px;
  text-align: center; }

.name-wrap {
  width: auto;
  min-height: 200px; }

.my-name {
  color: #FFFFFF;
  text-transform: lowercase;
  letter-spacing: -3px;
  position: absolute;
  font-family: "Arimo", sans-serif;
  font-size: 4em;
  margin: 20px 50px; }
  .my-name:first-child::before {
    content: "Barnabas"; }
  .my-name:nth-child(2) {
    margin-top: 56px;
    margin-left: 47px; }
    .my-name:nth-child(2)::before {
      content: "Chan"; }

.proj-list {
  margin-top: 80px;
  margin-left: 10px; }
  .proj-list ul {
    list-style: none; }
    .proj-list ul li {
      font-size: 2.5em;
      line-height: 2;
      font-family: "Arimo", sans-serif;
      font-weight: 700;
      text-transform: capitalize; }

.big-text {
  font-size: 3em;
  font-weight: 700;
  color: #001D42; }

#projects {
  background-color: #001D42;
  color: #FFFFFF; }

iframe {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto; }

.hidden {
  width: 100%;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 60px; }

.secret {
  overflow: hidden;
  background-color: #000000; }

#secret {
  position: absolute;
  top: 0;
  left: 0;
  color: white; }

.temp {
  background-color: #001D42;
  color: #FFFFFF; }

.wrapper {
  text-align: center;
  margin: 270px; }

.fa-exclamation-triangle {
  color: #FCCC53; }

details, summary {
  cursor: s-resize; }
  details:focus, summary:focus {
    outline: none; }

/*# sourceMappingURL=style.css.map */
