.loader {
  text-align: center; }

#loader {
  width: 40px;
  height: 40px;
  margin: 300px auto;
  margin-bottom: 10px;
  background-color: #2BD7F2;
  display: block;
  border-radius: 100%;
  -webkit-animation: blink 1.2s infinite ease-in-out;
  animation: blink 1.2s infinite ease-in-out; }

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(0); }
  33% {
    background-color: #FFEA32; }
  66% {
    background-color: #F282DA; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes blink {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  33% {
    background-color: #FFEA32; }
  66% {
    background-color: #F282DA; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
#loading-text {
  -webkit-animation: three-dots 6s infinite ease-in-out;
  animation: three-dots 6s infinite ease-in-out; }

@-webkit-keyframes three-dots {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes three-dots {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body, section {
  overflow: auto;
  margin: 0; }

section {
  min-height: 100vh; }

h1 {
  margin: 0;
  font-family: "Arimo", sans-serif; }

p, span, summary {
  font-family: "Karla", sans-serif; }

a {
  color: #0A0A0A;
  text-decoration: none; }

nav {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0; }
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none; }
    nav ul li {
      width: calc(100% / 3);
      text-align: center; }
    nav ul a {
      display: block;
      padding: 16px 0;
      font-family: "Arimo", sans-serif, sans-serif; }

.top {
  display: flex;
  justify-content: center;
  border: solid 10px #0A0A0A; }

.shape-wrap {
  position: relative;
  align-self: center;
  width: 200px;
  margin-top: -50px;
  margin-right: -50px; }

.hex-wrap {
  position: absolute;
  top: 60%; }

.hexagon {
  width: 150px;
  height: 82px;
  line-height: 50px;
  background: #F282DA;
  position: relative;
  z-index: 200; }
  .hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent; }
  .hexagon:before {
    top: -45%;
    border-bottom: 37px solid #F282DA; }
  .hexagon:after {
    bottom: -45%;
    border-top: 37px solid #F282DA; }

.hexagon.inner {
  background-color: #FFFFFF;
  -webkit-animation: inner-tilt 3.2s infinite;
  animation: inner-tilt 3.2 0.4s infinite; }
  .hexagon.inner:before {
    border-bottom: 37px solid #FFFFFF; }
  .hexagon.inner:after {
    border-top: 37px solid #FFFFFF; }

@-webkit-keyframes inner-tilt {
  0% {
    transform: rotate(0deg) scale(0.6, 0.6); }
  90% {
    transform: rotate(0deg) scale(0.6, 0.6); }
  100% {
    transform: rotate(-20deg) scale(0.6, 0.6); } }
@keyframes inner-tilt {
  0% {
    transform: rotate(0deg) scale(0.6, 0.6); }
  90% {
    transform: rotate(0deg) scale(0.6, 0.6); }
  100% {
    transform: rotate(-20deg) scale(0.6, 0.6); } }
.rectangle {
  width: 30px;
  height: 150px;
  background: #2BD7F2;
  border-radius: 12px 12px 0 0;
  position: relative;
  z-index: 100;
  -webkit-animation: piledriver 4.4s infinite;
  animation: piledriver 3.2s infinite; }

@-webkit-keyframes piledriver {
  0% {
    transform: translateY(10%); }
  1% {
    transform: translateY(5%); }
  100% {
    transform: translateY(-25%); } }
@keyframes piledriver {
  0% {
    transform: translateY(10%); }
  1% {
    transform: translateY(5%); }
  90% {
    transform: translateY(-25%); }
  100% {
    transform: translateY(10%); } }
.triangle {
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-right: 100px solid #FFEA32;
  position: absolute;
  top: 51%;
  right: 12%;
  z-index: 300;
  animation: flash 9.6s infinite; }

@keyframes flash {
  0% {
    opacity: 0.8; }
  30% {
    opacity: 0;
    transform: rotate(0deg); }
  99% {
    opacity: 0;
    transform: rotate(0deg); }
  100% {
    opacity: 0.8;
    border-right: 100px solid #FFEA32; } }
.about {
  background: #0A0A0A; }

.about * {
  color: #FFFFFF; }

.container {
  margin: 60px auto;
  width: 600px;
  text-align: center; }

.name-wrap {
  width: auto;
  min-height: 200px; }

.my-name {
  color: #FFFFFF;
  text-transform: lowercase;
  letter-spacing: -3px;
  position: absolute;
  font-family: "Arimo", sans-serif;
  font-size: 4em;
  margin: 20px 50px; }
  .my-name:first-child::before {
    content: "Barnabas"; }
  .my-name:nth-child(2) {
    margin-top: 56px;
    margin-left: 47px; }
    .my-name:nth-child(2)::before {
      content: "Chan"; }

.temp {
  background-color: #001D42;
  color: #FFFFFF; }

.wrapper {
  text-align: center;
  margin: 270px; }

.fa-exclamation-triangle {
  color: #FCCC53; }

details, summary {
  cursor: s-resize; }
  details:focus, summary:focus {
    outline: none; }

/*# sourceMappingURL=style.css.map */
