// ELEMENTS
* {
  box-sizing: border-box;
}

body {
  opacity: 1;
  transition: 1.3s opacity;

  &.fade {
    opacity: 0;
    transition: none;
  }
}

body, .page {
  overflow: auto;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: $arimo;
}

p, span, summary {
  font-family: $karla;
}

a {
  color: $coquelicot;
  text-decoration: none;
}



// CLASSES

.page {
  height: 100vh;
}
