// ELEMENTS

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    // font-size: 62.5%;
}

body, section {
  overflow: auto;
  margin: 0;
}

section {
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-family: $arimo;
}

p, span, summary {
  font-family: $karla;
}

a {
  color: $black;
  text-decoration: none;
}
