nav {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;


  ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    li {
    }
  }
}


.bw-hover {
    position: fixed;
    font-family: $karla;
    bottom: 0;
    right: 0;
    content: " ";
    width: 150px;
    height: 100px;
    padding-top: 30px;
    border-top-left-radius: 10%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 1;
    text-align: center;
    background-color: $black;
    color: $white;
    width: 140px;
    height: 70px;

    border-top-left-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out, text-align, padding-top;
    -moz-transition: all 0.5s ease-in-out, text-align, padding-top;
    transition: all 0.5s ease-in-out, text-align, padding-top;

    &::after {
      content: "back to top";
    }
  }
}
