// COLOURS
$yellow    : #FFEA32;
$lightpink : #F282DA;
$lightblue : #2BD7F2;
$blueprint : #001D42;
$white     : #FFFFFF;
$grey      : #D8D8D8;
$black     : #0A0A0A;

// FONTS
$space     : 'Space Mono', monospace;
$arimo     : 'Arimo', sans-serif;
