<div class="temp page">
  <div class="wrapper">
      <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
    <h1>Hello World</h1>
    <span style="display: block; margin-bottom: 40px">my site is under construction</span>

    <details>
      <summary>contact me</summary>
      <p>
        send me an email at <a href="mailto:bc.xz@mail.com">bc.xz@mail.com
      </a></p>
    </details>
  </div>
</div>
