<% include ../partials/_nav %>
<% include ./dare %>
<div class="bl-bar"></div>
<% include ./wear %>
<div class="bl-bar"></div>
<div class="face page" id="face">


  <p id="test">
    home
  </p>

</div>
<% include ./about %>
<% include ./projects %>
<% include ./contact %>
