<% include ../partials/_nav %>
<section id="top" class="top">


  <div class="shape-wrap">

    <div class="rectangle"></div>

    <div class="hex-wrap">
      <div class="hexagon">
        <div class="hexagon inner"></div>
      </div>
    </div>

    <div class="triangle"></div>

  </div>

</section>
<% include ./work %>
<% include ./about %>
