<% include ../partials/_nav %>
<a href="#top">
  <div class="bw-hover"></div>
</a>

<section id="top">


  <div class="shape-wrap">

    <div id="rectangle"></div>

    <div class="hex-wrap">
      <div class="hexagon">
        <div class="hexagon inner"></div>
      </div>
    </div>

    <div id="triangle"></div>

  </div>

</section>
<% include ./about %>
<% include ./contact %>
