<div class="page" id="projects">
  <div id="hexagon">
    <span class="big-text">< / > </span>
  </div>

  <div class="proj-list">
    <ul>
      <li><a href="cheq.herokuapp.com">cheq</a></li>
      <li><a href="jiak-simi.herokuapp.com">jiak simi</a></li>
      <li></li>
    </ul>
  </div>


</div>
