<div class="wear page" id="wear">
  <section>
    <div>
      <a href="#face">
        <div class="black-box">to</div>
      </a>
      <div class="black-box five">avail</div>
      <div class="black-box seven">oneself</div>
    </div>

    <div>
      <div class="black-box two">to</div>
      <div class="black-box three">the</div>
      <a href="#face">
        <div class="black-box">wear</div>
      </a>
    </div>

    <div>
      <div class="black-box three">and</div>
      <div class="black-box four">tear</div>
      <div class="black-box two">of</div>
      <div class="black-box four">life.</div>
    </div>
  </section>

</div>
