// ELEMENTS
#about {
  background: $black;
}

#about * {
  color: $white;
}

// CLASSES
.container {
  margin: 60px auto;
  width: 600px;
  text-align: center;
}

.name-wrap {
  width: auto;
  min-height: 200px;
}

.my-name {
  color: $white;
  text-transform: lowercase;
  letter-spacing: -3px;
  position: absolute;
  font-family: $arimo;
  font-size: 4em;
  margin: 20px 50px;


  &:first-child {

    &::before{
      content: "Barnabas";

    }

  }

  &:nth-child(2) {
    margin-top: 56px;
    margin-left: 47px;

    &::before{
      content: "Chan";
    }
  }
}
